<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="edu.uml.thumbsup">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
	
		
	
	
		<activity android:name=".SplashScreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:name=".ThumbsUpActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.THUMBSUPACTIVITY"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".gamemenu" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAMEMENU"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		
	
		<activity android:name=".game1" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game2" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME2"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game3" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME3"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>

        <activity android:name=".ChemGameActivity">
            <intent-filter>
                <action android:name="edu.uml.chemgame.CHEMGAMEACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>   
		</activity>
		<activity android:name=".game4" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME4"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game5" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME5"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game6" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME6"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game7" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME7"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".game8" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME8"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".scoremenu" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.SCOREMENU"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".credits" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.CREDITS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
	</application>
</manifest>