<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="edu.uml.thumbsup">
	<uses-sdk android:minSdkVersion="8" />

	<application android:name="Globals" android:icon="@drawable/icon" android:label="@string/app_name">


		<activity android:name=".SplashScreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:name=".ThumbsUPActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.THUMBSUPACTIVITY"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".gamemenu" android:label="@string/mainmenu_title">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAMEMENU"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>



		<activity android:name=".game1" android:label="@string/game1_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>


		<activity android:name=".game2" android:label="@string/game2_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME2"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game3" android:label="@string/game3_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME3"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>

            <intent-filter>
                <action android:name="edu.uml.chemgame.RETURNTOSTART"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>   
        </activity>
        <activity android:name=".ChemGameActivity"  android:label="@string/game3_name">
            <intent-filter>
                <action android:name="edu.uml.thumbsup.CHEMGAMEACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>   




			<activity android:name=".game1a" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1A"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game1s" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1S"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game1r" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1R"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game1d" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1D"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game1m" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1M"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game1help" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME1HELP"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>



		<activity android:name=".game4" 
				  android:label="@string/game4_name" 
				  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="edu.uml.chemgame.RETURNTOSTART"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".ChemGameActivity" android:label="@string/game3_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.CHEMGAMEACTIVITY"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game4" android:label="@string/game4_name"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME4"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game5" android:label="@string/game5_name"
		    android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME5"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

		<activity android:name=".game6" android:label="@string/game6_name"
			android:screenOrientation="portrait">
			"landscape" | "portrait" |>
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME6"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:label="@string/game6_name" android:name="playGame"
			android:screenOrientation="portrait" />
		<activity android:name=".game8" android:label="@string/game8_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.GAME8"></action>
				<category android:name="android.intent.category.DEFAULT" android:screenOrientation="portrait"></category>
			</intent-filter>
		</activity>
		<activity android:name=".scoremenu" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.SCOREMENU"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".credits" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edu.uml.thumbsup.CREDITS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".Game2menu"></activity>
		<activity android:name=".Facts"></activity>
		<activity android:name=".Trivia"></activity>
	</application>
</manifest>